modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node server.js"]

[[ports]]
localPort = 25565
externalPort = 80

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 13343708
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
